<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
<!-- <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>-->
    <script type="text/javascript" src="{{ url_for('static', filename='jquery-2.1.3-jquery.min.js') }}"></script>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/registrationFormStyle.css') }}"> 
    </head>
  <body style="height:87%">
<div class="container">
	<section id="content">
		<form action="">
			<h1>User Subscription Form</h1>
			<div>
				<input type="text" placeholder="Username" required="" id="username" />
			</div>
    <div id="locationField">
			  <input id="autocomplete" placeholder="Enter your address"
             onFocus="geolocate()" type="text"></input>
    </div>

			<div style="margin-left:80px;">
				<input type="button" value="Subscribe" />
			</div>
		</form><!-- form -->
    <form id="gotoHomepageForm" class="form-inline" action="/gotoHomepage" method="POST">
    </form>
		<div class="button">
			<a onclick="gotoHomepage()">Homepage</a>
		</div><!-- button -->
	</section><!-- content -->
</div><!-- container -->
    <script>
// This example displays an address form, using the autocomplete feature
// of the Google Places API to help users fill in the information.

latitudeVar = "";
longitudeVar = "";
var placeSearch, autocomplete;
var componentForm = {
  street_number: 'short_name',
  route: 'long_name',
  locality: 'long_name',
  administrative_area_level_1: 'short_name',
  country: 'long_name',
  postal_code: 'short_name'
};

function initAutocomplete() {
  // Create the autocomplete object, restricting the search to geographical
  // location types.
  autocomplete = new google.maps.places.Autocomplete(
      /** @type {!HTMLInputElement} */(document.getElementById('autocomplete')),
      {types: ['geocode']});

  // When the user selects an address from the dropdown, populate the address
  // fields in the form.
  autocomplete.addListener('place_changed', subscribeUser);
}


function subscribeUser() {
	var userNameVar = document.getElementById('username').value;
	alert('inside subscribeUser function and userNameVar is: ' + userNameVar);
	
    $.getJSON('/subscribeUser/'+ userNameVar + '/' + latitudeVar + '/' + longitudeVar,
      function(data) {
      	data = data.userResponse;
        alert('data is: ' + data);
        // Nice code snippet - To print any object with all its values - start
            var result = "";
            for (var p in data) {
                if( data.hasOwnProperty(p) ) {
                  result += p + " , " + data[p] + "\n";
                }
              }    
          alert('final result is: '+ result);
          gotoHomepage();
            // Nice code snippet - To print any object with all its values - end 

      });



}


function gotoHomepage() {
	//window.location.href = 'homepage.html';
	//alert('inside gotoHomepage function');
	document.getElementById('gotoHomepageForm').submit();
}


// [START region_geolocation]
// Bias the autocomplete object to the user's geographical location,
// as supplied by the browser's 'navigator.geolocation' object.
function geolocate() {
  if (navigator.geolocation) {
    navigator.geolocation.getCurrentPosition(function(position) {
      var geolocation = {
        lat: position.coords.latitude,
        lng: position.coords.longitude
      };
      latitudeVar = position.coords.latitude;
      longitudeVar = position.coords.longitude;
//      alert('latitudeVar is: ' + latitudeVar  + ' and longitudeVar is: ' + longitudeVar);
      /*
      var circle = new google.maps.Circle({
        center: geolocation,
        radius: position.coords.accuracy
      });
      autocomplete.setBounds(circle.getBounds());*/
    });
  }
}
// [END region_geolocation]

    </script>
    <script src="https://maps.googleapis.com/maps/api/js?signed_in=true&libraries=places&callback=initAutocomplete"
        async defer></script>


  </body>
</html>
